RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_VEHICLE_QUEUE=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
# POSTGRES_URI=postgresql://neondb_owner:npg_MH45PmGwuabJ@ep-bold-hall-alqo82dn-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=